
.roof{
  height: 20px;
}

.super_heroes{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.superhero{
   display: none;
   
  
}
.superheroVisible{
  display: flex;
 
  padding: 10px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 25px;
  padding: 5px;
  color: red;

}

