
.roof{
  height: 20px;
}

.super_heroes{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.superhero{
   display: none;
   
  
}
.superheroVisible{
  display: flex;
   padding: 10px;
}

.conteinerBut{
  display: flex;
  justify-content: center;
}
